@import "tailwindcss";

@font-face {
    font-family: "SpaceMono";
    src: url("/SpaceMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@theme {
    --font-space-mono: SpaceMono, monospace;
}

@layer base {
    body {
        @apply bg-stone-950 text-stone-50 font-space-mono
    }
}

@utility custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-stone-800) transparent;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-stone-800);
        border-radius: 9999px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-stone-600);
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}